@import "bootstrap"
@import "compass/css3"

$blue: #a1b1c7
$border-blue: darken($blue, 15%)
$dark-blue: darken($blue, 40%)

$components-background: #e2e6eb

$pictures-height: 160px
$data-height: 180px

$steps-width: 350px

*
  +box-sizing(border-box)

html, body
  height: 100%

body
  +user-select(none)

#data, #steps
  border-right: 1px solid $border-blue
  border-bottom: 1px solid $border-blue

#steps
  position: fixed
  top: $pictures-height + $data-height
  left: 0
  bottom: 0
  width: $steps-width
  padding-bottom: 1.25em

.steps
  overflow: auto
  height: 100%

#main
  position: fixed
  top: 160px
  left: $steps-width

#data
  position: fixed
  top: $pictures-height
  width: $steps-width
  height: $data-height
  overflow: auto

.menu-container
  +border-radius(2px)
  +box-shadow(rgba(0, 0, 0, 0.4) 0 1px 9px)

  width: 200px
  min-height: 50px
  position: absolute
  z-index: 1

  .color
    width: 24px
    height: 20px
    margin-top: 5px
    padding: 1px 2px

  .menu
    position: relative

  .arrow-up
    position: absolute
    top: -10px
    left: 0
    right: 0
    margin: auto

.arrow-up
  width: 0
  height: 0
  border-left: 12px solid transparent
  border-right: 12px solid transparent

  border-bottom: 12px solid $blue

#main
  padding-top: 1em
  padding-left: 1.5em

  .description
    height: 3em

#pictures
  border-bottom: 1px solid #7189aa
  height: $pictures-height
  width: 100%
  position: fixed

#viewport
  +box-shadow(rgba(0,0,0,0.3) 0 0 5px)

  height: 580px
  width: 800px
  position: relative

  canvas
    position: absolute

.content
  height: 100%

.workspace
  +box-shadow(rgba(0, 0, 0, 0.1) 0 -3px 6px)

  height: 100%

dt
  display: inline

dd
  color: $grayLight
  display: inline-block
  margin-left: 0px
  text-align: right
  width: 60px

dl
  color: $gray
  margin-top: 0px

  h4
    display: inline-block
    font-variant: small-caps
    text-align: right
    text-decoration: underline
    width: 60px

.bindy
  display: inline

  input
    background-color: transparent
    border: none
    display: inline-block
    padding: 0
    width: 32px

.adjustable
  cursor: e-resize

.key
  +border-radius(10px)

  background-color: #85b7d4
  border: 1px solid rgba(0, 0, 0, 0.3)
  color: white
  cursor: pointer
  display: inline-block
  margin: 0.25em
  padding: 0 5px

.value
  display: inline-block

.component
  background-color: $components-background

  h3
    +text-shadow(rgba(255, 255, 255, 0.6) 0 1px 0px)

    background-color: $blue
    color: $dark-blue

    font-size: 12px
    font-weight: normal
    height: 16px
    line-height: 16px
    text-align: center

#hotkeys
  position: fixed
  top: 200px
  right: 10px

  .action
    &.selected
      background-color: #aaa

      dd
        color: white

.step
  cursor: pointer
  padding: 0.5em 0
  padding-left: 0.5em

  &.selected
    background-color: #5EA7ED
    color: #FFF

    .bindy input
      background-color: #5EA7ED
      color: #fff

  .image
    border: 1px solid black
    background-color: white
    display: inline-block
    height: 40px
    width: 54px

  .description
    display: inline-block
    width: 260px
    vertical-align: top
