@import "bootstrap"
@import "compass/css3"

body
  +user-select(none)

#pictures
  height: 160px

#viewport
  +box-shadow

  height: 400px

  canvas
    position: absolute

dt
  display: inline

dd
  color: $grayLight
  display: inline-block
  margin-left: 0px
  text-align: right
  width: 60px

dl
  color: $gray
  margin-top: 0px

  h4
    display: inline-block
    font-variant: small-caps
    text-align: right
    text-decoration: underline
    width: 60px

input
  &.bindy
    border: none
    display: inline-block
    padding: 0
    width: 24px

.key
  +border-radius(10px)
  border: 1px solid black

  display: inline-block
  padding: 0 10px
  width: 60px

.value
  display: inline-block

.component
  h3
    +background-image(linear-gradient(#fff, #ccc, #aaa))

    font-size: 12px
    height: 16px
    line-height: 16px
    text-align: center

.step
  .image
    border: 1px solid black
    background-color: white
    display: inline-block
    height: 40px
    width: 54px

  .description
    display: inline-block
    width: 180px
