@import "bootstrap"
@import "compass/css3"

$blue: #a1b1c7
$border-blue: darken($blue, 15%)
$dark-blue: darken($blue, 40%)

$components-background: #e2e6eb

html, body
  height: 100%

body
  +user-select(none)

#data, #steps
  border-right: 1px solid $border-blue

.steps
  height: 400px
  overflow-y: scroll

#main
  padding-top: 1em

#pictures
  height: 160px

#viewport
  +box-shadow

  height: 400px

  canvas
    position: absolute

.content
  height: 100%

.container-fluid
  padding: 0

.workspace
  +box-shadow(rgba(0, 0, 0, 0.1) 0 -3px 6px)

  height: 100%

dt
  display: inline

dd
  color: $grayLight
  display: inline-block
  margin-left: 0px
  text-align: right
  width: 60px

dl
  color: $gray
  margin-top: 0px

  h4
    display: inline-block
    font-variant: small-caps
    text-align: right
    text-decoration: underline
    width: 60px

input
  &.bindy
    border: none
    display: inline-block
    padding: 0
    width: 24px

.adjustable
  cursor: e-resize

.key
  +border-radius(10px)

  background-color: #85b7d4
  border: 1px solid rgba(0, 0, 0, 0.3)
  color: white
  cursor: pointer
  display: inline-block
  margin: 0.25em
  padding: 0 5px

.value
  display: inline-block

.component
  background-color: $components-background

  h3
    +text-shadow(rgba(255, 255, 255, 0.6) 0 1px 0px)

    background-color: $blue
    border-bottom: 1px solid $border-blue
    color: $dark-blue

    font-size: 12px
    font-weight: normal
    height: 16px
    line-height: 16px
    text-align: center

#hotkeys
  .action
    &.selected
      background-color: #aaa

      dd
        color: white

.step
  padding: 0.5em 0
  padding-left: 0.5em

  &.selected
    background-color: #5EA7ED
    color: #FFF

  .image
    border: 1px solid black
    background-color: white
    display: inline-block
    height: 40px
    width: 54px

  .description
    display: inline-block
    width: 260px
    vertical-align: top
