
.row
  .span3
    .row.component#data

    .row.component
      %h3 Steps

  .span9#main
    .row
      %h3 Description
    .row
      .span7
        %canvas(width=540 height=400)
      .span2#hotkeys
