.workspace
  .component#data
    %h3 Data

  .component#steps
    %h3 Steps

  #main
    .description

    #viewport
      #menu
      %canvas#lower(width=800 height=580)
      %canvas#upper(width=800 height=580)
    #hotkeys
