
.row
  .span3
    .row.component#data

    .row.component#steps
      %h3 Steps

  .span9#main
    .row
      %h3 Description
    .row
      .span7#viewport
        %canvas#lower(width=540 height=400)
        %canvas#upper(width=540 height=400)
      .span2#hotkeys
